{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
      "react"
  ],
  "rules": {
      "import/no-extraneous-dependencies": ["error", { devDependencies: true }],
      "comma-dangle": ["error", "never"],
      "max-len": [1, 120, 2, {ignoreComments: true}],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
